<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <php>
        <env name="INTEGRATION_ENABLED" value="0" />
        <env name="LITMUS_API_KEY" value="" />
        <env name="LITMUS_API_PASS" value="" />
    </php>
    <testsuites>
        <testsuite name="Phlib Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
